$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

// ## Typography
$Font-size: 13px;
$Font-Family: "Manrope", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  background: $Light-Grayish-Blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $Font-Family;
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
}
article {
  max-width: 740px;
  display: grid;
  grid-template-columns: minmax(240px, 300px) 1fr;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px -30px $Grayish-Blue;

  .box-item:nth-of-type(1) {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: 10px 0 0 10px;
    }
  }
  .box-item:nth-of-type(2) {
    padding: 2rem 2rem 2rem 2rem;

    h2 {
      font-weight: 700;
      font-size: 1.375rem;
    }

    p {
      font-weight: 500;
      font-size: $Font-size;
      margin: 1rem 0;
      color: $Desaturated-Dark-Blue;
    }

    .people-img {
      width: 50px;
      display: inline-block;
    }
    .box-img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: 1.5rem;
    }
  }
}

.b-img {
  display: flex;
  align-items: center;
  .people-img {
    border-radius: 50%;
    margin-right: 1rem;
  }
  .box-span {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: $Font-size;

    span:last-child {
      font-weight: 500;
      color: $Grayish-Blue;
    }
  }
}

// btn popup
.btn-pop {
  width: 38px;
  height: 38px;
  background: $Light-Grayish-Blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s ease-in-out;

  svg * {
    fill: $Very-Dark-Grayish-Blue;
  }

  &.active {
    background: $Very-Dark-Grayish-Blue;
    svg * {
      fill: #fff;
    }
  }
}
.pop {
  width: 100%;
  max-width: 240px;
  background: $Very-Dark-Grayish-Blue;
  height: 50px;
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(43%, -140%) scale(0.5);
  border-radius: 10px;
  box-shadow: 0 0 50px -0px $Grayish-Blue;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: fill;
    transform: translate(43%, -140%) scale(1);
  }

  &::after {
    content: "";
    display: flex;
    width: 25px;
    height: 20px;
    background: $Very-Dark-Grayish-Blue;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 0%;
    clip-path: polygon(0% 0%, 50% 80%, 100% 0%);
    box-shadow: 0 0 50px -30px $Grayish-Blue;
  }

  .box-spans {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    justify-content: space-between;
    color: $Grayish-Blue;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: $Font-size;

    span {
      opacity: 0.8;
    }

    .span-link {
      display: flex;

      a + a {
        margin-left: 0.7rem;
      }
    }
  }
}
.pop-2 {
  display: none;
}

// btn popup

@media screen and (max-width: 885px) {
  main {
    width: 100%;
  }
  article {
    grid-template-columns: 1fr;
    max-width: 375px;
    overflow: hidden;

    .box-item:nth-of-type(1) {
      height: 100%;
      img {
        border-radius: 10px 10px 0 0;
      }
    }

    .box-item:nth-of-type(2) {
      padding: 0;

      h2 {
        font-weight: 700;
        font-size: 1.05rem;
        padding: 2rem 2rem 0 2rem;
      }

      p {
        font-weight: 500;
        font-size: 98%;
        margin: 1rem 0;
        color: $Desaturated-Dark-Blue;
        padding: 0 2rem;
      }
      .box-img {
        padding: 1rem 1rem 1rem 2rem;
      }

      .box-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 1.5rem;
      }
    }
  }
  .pop {
    display: none;
  }
  .btn-pop {
    background: $Light-Grayish-Blue;
    &.active {
      background: $Desaturated-Dark-Blue;
    }
  }
  .pop {
    background: $Very-Dark-Grayish-Blue;
    width: 0%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0%, 0%) scale(1);
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;

    &.active {
      width: 100%;
      padding: 0 2rem;
      opacity: 1;
      transform: translate(0%, 0%) scale(1);
      padding: 0;
      border-radius: 0;
    }

    &::after {
      display: none;
    }
    .box-spans {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $Grayish-Blue;
      letter-spacing: 0.2rem;
      font-weight: 500;
      font-size: initial;
      padding: 1rem 0rem 1rem 2.5rem;

      span {
        opacity: 0.8;
        margin-right: 1rem;
      }

      .span-link {
        display: flex;
        justify-self: center;
        align-items: center;

        a {
          width: 25px;
          img {
            width: 100%;
            max-width: 100%;
          }
          & + a {
            margin-left: 0.7rem;
          }
        }
      }
    }
  }
}
