* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Manrope", sans-serif;
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

article {
  max-width: 740px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(240px, 300px) 1fr;
      grid-template-columns: minmax(240px, 300px) 1fr;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px -30px #9eafc2;
          box-shadow: 0 0 50px -30px #9eafc2;
}

article .box-item:nth-of-type(1) {
  height: 100%;
}

article .box-item:nth-of-type(1) img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  border-radius: 10px 0 0 10px;
}

article .box-item:nth-of-type(2) {
  padding: 2rem 2rem 2rem 2rem;
}

article .box-item:nth-of-type(2) h2 {
  font-weight: 700;
  font-size: 1.375rem;
}

article .box-item:nth-of-type(2) p {
  font-weight: 500;
  font-size: 13px;
  margin: 1rem 0;
  color: #6d7f97;
}

article .box-item:nth-of-type(2) .people-img {
  width: 50px;
  display: inline-block;
}

article .box-item:nth-of-type(2) .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 1.5rem;
}

.b-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-img .people-img {
  border-radius: 50%;
  margin-right: 1rem;
}

.b-img .box-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 13px;
}

.b-img .box-span span:last-child {
  font-weight: 500;
  color: #9eafc2;
}

.btn-pop {
  width: 38px;
  height: 38px;
  background: #ecf2f8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-pop svg * {
  fill: #48556a;
}

.btn-pop.active {
  background: #48556a;
}

.btn-pop.active svg * {
  fill: #fff;
}

.pop {
  width: 100%;
  max-width: 240px;
  background: #48556a;
  height: 50px;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(43%, -140%) scale(0.5);
          transform: translate(43%, -140%) scale(0.5);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 0px #9eafc2;
          box-shadow: 0 0 50px 0px #9eafc2;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pop.active {
  opacity: 1;
  pointer-events: fill;
  -webkit-transform: translate(43%, -140%) scale(1);
          transform: translate(43%, -140%) scale(1);
}

.pop::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 20px;
  background: #48556a;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 0%;
  -webkit-clip-path: polygon(0% 0%, 50% 80%, 100% 0%);
          clip-path: polygon(0% 0%, 50% 80%, 100% 0%);
  -webkit-box-shadow: 0 0 50px -30px #9eafc2;
          box-shadow: 0 0 50px -30px #9eafc2;
}

.pop .box-spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9eafc2;
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-size: 13px;
}

.pop .box-spans span {
  opacity: 0.8;
}

.pop .box-spans .span-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pop .box-spans .span-link a + a {
  margin-left: 0.7rem;
}

.pop-2 {
  display: none;
}

@media screen and (max-width: 885px) {
  main {
    width: 100%;
  }
  article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 375px;
    overflow: hidden;
  }
  article .box-item:nth-of-type(1) {
    height: 100%;
  }
  article .box-item:nth-of-type(1) img {
    border-radius: 10px 10px 0 0;
  }
  article .box-item:nth-of-type(2) {
    padding: 0;
  }
  article .box-item:nth-of-type(2) h2 {
    font-weight: 700;
    font-size: 1.05rem;
    padding: 2rem 2rem 0 2rem;
  }
  article .box-item:nth-of-type(2) p {
    font-weight: 500;
    font-size: 98%;
    margin: 1rem 0;
    color: #6d7f97;
    padding: 0 2rem;
  }
  article .box-item:nth-of-type(2) .box-img {
    padding: 1rem 1rem 1rem 2rem;
  }
  article .box-item:nth-of-type(2) .box-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-top: 1.5rem;
  }
  .pop {
    display: none;
  }
  .btn-pop {
    background: #ecf2f8;
  }
  .btn-pop.active {
    background: #6d7f97;
  }
  .pop {
    background: #48556a;
    width: 0%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 0;
  }
  .pop.active {
    width: 100%;
    padding: 0 2rem;
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    padding: 0;
    border-radius: 0;
  }
  .pop::after {
    display: none;
  }
  .pop .box-spans {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9eafc2;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: initial;
    padding: 1rem 0rem 1rem 2.5rem;
  }
  .pop .box-spans span {
    opacity: 0.8;
    margin-right: 1rem;
  }
  .pop .box-spans .span-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pop .box-spans .span-link a {
    width: 25px;
  }
  .pop .box-spans .span-link a img {
    width: 100%;
    max-width: 100%;
  }
  .pop .box-spans .span-link a + a {
    margin-left: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */