$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

// ## Typography
$Font-size: 13px;
$Font-Family: "Manrope", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  background: $Light-Grayish-Blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $Font-Family;
  padding: 1rem 2rem;
}

img {
  display: block;
  max-width: 100%;
}
article {
  max-width: 740px;
  display: grid;
  grid-template-columns: minmax(240px, 300px) 1fr;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px -30px $Grayish-Blue;

  .box-item:nth-of-type(1) {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: 10px 0 0 10px;
    }
  }
  .box-item:nth-of-type(2) {
    padding: 2rem 2rem 2rem 2rem;

    h2 {
      font-weight: 700;
      font-size: 1.375rem;
    }

    p {
      font-weight: 500;
      font-size: $Font-size;
      margin: 1rem 0;
      color: $Desaturated-Dark-Blue;
    }

    .people-img {
      width: 50px;
      display: inline-block;
    }
    .box-img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: 1.5rem;

      .box-share {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease;
        z-index: 999;

        &:hover,
        &.active {
          // background: $Very-Dark-Grayish-Blue;

          svg * {
            fill: #fff;
          }
        }
      }
    }
  }
}

.b-img {
  display: flex;
  align-items: center;
  .people-img {
    border-radius: 50%;
    margin-right: 1rem;
  }
  .box-span {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: $Font-size;

    span:last-child {
      font-weight: 500;
      color: $Grayish-Blue;
    }
  }
}
.popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 240px;
  background: $Very-Dark-Grayish-Blue;
  top: -75px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: 500;
  color: $Grayish-Blue;
  box-shadow: 0 0 5px 1px $Very-Dark-Grayish-Blue;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  letter-spacing: 5px;
  font-size: $Font-size;
  cursor: initial;

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 20px;
    background: $Very-Dark-Grayish-Blue;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    box-shadow: 0 0 5px 1px $Very-Dark-Grayish-Blue;
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  }

  .links {
    display: flex;
    a:not(.last) {
      margin-right: 1rem;
    }
  }
}
.box-share.active .popup {
  pointer-events: initial;
  opacity: 1;
}

.popup-desk {
  display: none;
  background: $Very-Dark-Grayish-Blue;
  width: 100%;

  position: absolute;
  left: 0;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  z-index: -1;
  font-weight: 500;
  color: $Grayish-Blue;
  .links {
    display: flex;
    a {
      margin: 0.5rem;
      &:first-child {
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: 885px) {
  main {
    width: 100%;
    height: 100%;
  }
  article {
    grid-template-columns: 1fr;
    max-width: 375px;
    overflow: hidden;

    .box-item:nth-of-type(1) {
      height: 100%;
      img {
        border-radius: 10px 10px 0 0;
      }
    }

    .box-item:nth-of-type(2) {
      padding: 0;

      h2 {
        font-weight: 700;
        font-size: 1.05rem;
        padding: 2rem 2rem 0 2rem;
      }

      p {
        font-weight: 500;
        font-size: 98%;
        margin: 1rem 0;
        color: $Desaturated-Dark-Blue;
        padding: 0 2rem;
      }
      .popup {
        display: none;
      }
      .box-img {
        padding: 1rem 1rem 1rem 2rem;
      }

      .box-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 1.5rem;

        .box-share {
          width: 38px;
          height: 38px;
          background: $Light-Grayish-Blue;

          &:hover,
          &.active {
            background: $Very-Dark-Grayish-Blue;

            svg * {
              fill: #fff;
            }
          }
        }
      }
      .box-share {
        margin-right: 1rem;
        &:hover,
        &.active {
          // background: $Desaturated-Dark-Blue;

          svg * {
            fill: #fff;
          }
        }
        .btn-share {
          z-index: 999;
          background: #000;
          width: 38px;
          height: 38px;
          // background: $Light-Grayish-Blue;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
        .popup-desk {
          display: flex;
          width: 0;
          pointer-events: none;
          opacity: 0;
          overflow: hidden;
          transition: 0.4s ease;

          &.active {
            width: 100%;
            opacity: 1;
            pointer-events: fill;
            transition: 0.4s ease;
          }
        }
        &.active .popup-desk {
          width: 100%;
          opacity: 1;
          pointer-events: fill;
          transition: 0.4s ease;
        }
      }
    }
  }
}
